language: "perl"

perl:
  - "5.14"

env:
  - COVERALLS=true

before_install:
    - sudo apt-get -y update
    - sudo apt-get -y install unzip
    - sudo apt-get -y install sendmail
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-test.git
    - git clone --depth 1 https://github.com/Ensembl/ensembl.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-variation.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-funcgen.git
    - wget https://github.com/bioperl/bioperl-live/archive/bioperl-release-1-2-3.zip
    - unzip bioperl-release-1-2-3.zip
    - git clone --branch master --depth 1 https://github.com/samtools/tabix.git
    - cd tabix
    - make
    - cd ../
    - git clone --branch master --depth 1 https://github.com/samtools/htslib.git
    - cd htslib
    - make
    - cd ../
    - git clone --branch master --depth 1 https://github.com/Ensembl/faidx_xs.git
    - cd faidx_xs
    - make
    - cp lib/Faidx.pm ..
    - cp lib/Faidx.so ..
    - cd ../

install:
    - cpanm -v --installdeps --with-recommends --notest --cpanfile ensembl/cpanfile .
    - cpanm -v --installdeps --notest --cpanfile ensembl-variation/cpanfile .
    - cpanm -n Devel::Cover::Report::Coveralls

script: "./travisci/harness.sh"

notifications:
  email:
    on_success: always
    on_failure: always
